.formInput {
    width:100%;
    padding: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 60%;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}
.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 45%;
    align-items: center;
}

.inputDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 20px;
   
}
.searchFormDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}
.searchForm{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.selectBox{
    width: 30% !important;
}
.searchBox{
    width: 30%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
}
.submitInput{
    padding: 7px;
    background: black;
    color: white;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;

}