.formInput {
    width:100%;
    padding: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 60%;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}
.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 45%;
    align-items: center;
}
/* .form-main-h1,.form-main-a{
    text-align: center;
    font-weight: bold;
    color: black;
} */
/* .form-main-p{
    display: flex;
    justify-content: center;
} */
.inputDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 20px;
   
}
.submitInput{
    padding: 7px;
    background: black;
    color: white;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;

}